* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.menu {
    height: 60px;
}

.wrap {
    width: 100%;
    height: 60px;
    background-color: white;
}

.content-heading {
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.5px;
}

.search-box {
    background-color: #dfe2e5;
    border-radius: 3px;
    margin-top: -15px;
    margin-left: -10px;
}

.search-box-input {
    border: none;
    background-color: #dfe2e5;
    width: 170px;
    height: 30px;
    font-size: 15px;
}

.search-box-input:focus {
    outline: none;
}

.wrap ul {
    height: 60px;
    display: flex;
}

.main-div {
    padding: 15px;
}


/* .main-div span {
    background-color: #dfe2e5;
    border-radius: 100px;
    padding: 5px;
    font-size: 6px;
} */


/* .menu ul li {
    margin-top: 15px;
    
    padding: 15px;
    margin-bottom: 15px;
} */

.main {
    background-color: #dfe2e5;
    width: 100%;
    height: 500px;
}

.main-div-content {
    margin-right: 35px;
}

.wrap-container {
    margin: 0px 20px;
}

.brand-image {
    width: 120px;
    height: 30px;
    padding: 10px 0px;
}

.header-images {
    float: left;
}

.menu ul li {
    background-color: #dfe2e5;
    border-radius: 5px;
    list-style: none;
    display: inline;
    color: white;
    font-size: 15px;
    padding: 20px;
    line-height: 1.5px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.wrapper-content {
    position: relative;
}

.employee-content {
    display: flex;
    float: right;
}

.wrapper-queries-content {
    position: relative;
}

.updated-content {
    float: right;
}

.updated-content a {
    background: #c8c8c8;
    padding: 6px;
    border-radius: 5px;
    margin-right: 10px;
    text-decoration: none;
    font-size: 12px;
    color: #505050;
}

.updates {
    text-decoration: none;
    color: #404040;
}

.wrapper-queries-content hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0.5px;
    top: 35px;
    position: absolute;
    width: 100%;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0.5px;
    top: 60px;
    position: absolute;
    width: 100%;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    position: relative;
}

.dot .looo {
    position: absolute;
    top: 8px;
    left: 4px;
    font-size: 6px;
}

.menu ul a {
    text-decoration: none;
    color: gray;
    font-size: 16px;
}

.container {
    padding: 30px 10px;
}

.content {
    display: flex;
    width: 100%;
}

.queries-content {
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.wrap-content1 {
    width: 40%;
    background-color: white;
    margin: 0 10px;
    border-radius: 3px;
}

.wrap-content2 {
    width: 35%;
    background-color: white;
    margin: 0 10px;
    border-radius: 3px;
}

.wrap-content3 {
    width: 25%;
    background-color: white;
    margin: 0 10px;
    border-radius: 3px;
}

.days-title {
    background-color: #f8f8f8;
    text-align: center;
    border-radius: 3px;
    font-size: 11px;
    letter-spacing: 0.6px;
    font-family: sans-serif;
    color: gray;
    margin-top: 15px;
    padding: 3px;
}

.upcoming-content {
    margin-right: 45px;
}

.project-content {
    margin-right: 38px;
}

.queries-wrap-content1 {
    width: 75%;
    background-color: white;
    margin: 0 10px;
}

.queries-wrap-content2 {
    width: 25%;
    background-color: white;
    margin: 0 10px;
}

.title {
    font-size: 11px;
    letter-spacing: 0.6px;
    font-family: sans-serif;
    color: gray;
    margin-top: 15px;
    padding: 3px;
}

.queries-content-list {
    margin-right: 140px;
}

.queries-content-tat {
    margin-right: 30px;
}